#second-paragraph{
    font-family: 'Inconsolata', sans-serif;
    color: green;
    font-size: 40px;
    text-indent: 80px;
    font-weight: 600;
}

#second-paragraph::first-letter{
    color: chartreuse;
}

.last-paragraph{
    font-family: 'Beau Rivage', sans-serif;
    color: blue;
    font-size: 60px;
    text-indent: 120px;
    font-weight: normal;
    text-align: center;
}

.last-paragraph::first-letter{
    color: blueviolet;
}